

.page-title-btn {
    text-align: end;
    width: 100%;
}

.form-submit-btn {
    text-align: end;
    width: 100%;
    padding:25px 0;
}

.form-content-title {
    text-align: center;
    padding:15px;
}

.font-bold {
    font-weight: 600;
}

.fnt-size{
    font-size:10px;
}